p {
	color: green;
}
*{
	font-size: 30px;
	font-family: sans-serif;
}
h1 {
	font-size: 2rem;
}
#header2 {
	text-transform: uppercase;
}
.lang-learn {
	background-color: burlywood;
}
.tools-use {
	border-width: 2px;
	border-style: solid;
	border-color: green;
}
img + ul {
	
	list-style: arabic-indic;
}
#image-change img {
	height: 250px;
	width: 250;
	border-radius: 50px;
}
h4 ~ p {
	text-align: center;
}
body > section > ul > li {
	letter-spacing: 30px;
}